.search-bar {
    background: rgb(228, 228, 228);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    gap: 10px;
    justify-content: flex-start;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

.search-bar:hover {
    outline: 1px solid pink;
}